/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bootstrap-sass/assets/fonts/bootstrap/";

//shortcodes style

@font-face {
    font-family: "Roboto";
    src: url('../assets/fonts/Roboto-Regular.ttf');
}

@import "./styles/placeholder";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

html, body{
    font-family: "Roboto";
    font-weight: 500;
}

md-badge{
  background-color: red;
  color: white;
  padding: 2px 5px;
  border-radius: 25%;
  margin-left: -15px;
  font-size: 7pt;
}

#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #273140;

  .spinner {
    opacity: 0.9;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .spinner:after,
  .spinner:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 30px;
    height: 30px;
    border: 5px solid transparent;
    border-bottom: 5px solid #fff;
    border-radius: 100%;
    -webkit-animation: rotate 1s linear infinite;
    animation: rotate 1s linear infinite;
  }
  .spinner:before {
    width: 40px;
    height: 40px;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
  }
  @-webkit-keyframes rotate {
    from {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotate {
    from {
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

}


$gray: #eee;

md-content.md-default-theme {
  background-color: $gray;
}
md-card {
  background-color: #fff;
  h2:first-of-type {
    margin-top: 0;
  }
}
md-toolbar {
  .md-button.md-default-theme {
    border-radius: 99%; // round toolbar buttons
  }
}
h2 {
  font-weight: 400;
}
.md-toolbar-tools-bottom {
  font-size: small;
  & :last-child {
    opacity: 0.8;
  }
}
md-toolbar:not(.md-hue-1),
.md-fab {
  fill: #fff;
}
md-sidenav {
  fill: #737373;
  ng-md-icon {
    position: relative;
    top: 5px; // adjust for svg viewbox
  }
}

.searchContainer{
    margin-top: 15px;
    md-input-container{
        label{
            color: rgba(255,255,255,0.5);
        }
        input{
            color: rgba(255,255,255,0.5);
            border-color: rgba(255,255,255,0.5) !important;

            @include placeholder-color {
                color: rgba(255,255,255,0.5) !important;
            }
        }
    }
}
.messageSidebar{
    background-color: rgb(255, 255, 255) !important;
    color: rgba(0,0,0,0.87) !important;
}
.menu-icon{
        margin: 0 !important;
}

.user-status-1{
  fill: #34bf49;
}
.user-status-0{
  fill: #ff4c4c;
}
.user-status-2{
  fill: #8a7967;
}

.total-statistics{
    color:rgba(255,255,255,0.8);
    text-align: center;
    // border-left:100px solid rgba(0,0,0,0.3);
    min-height: 120px;
    position: relative;


    &::before {
        content:" ";
        backface-visibility: hidden;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        transition: background 0.5s;
        background: rgba(0, 0, 0, 0);
    }

   &:hover:before{
     background: rgba(0, 0, 0, 0.0980392);
   }

    ng-md-icon{
        position: absolute;
        left: 5%;
        top: 30%;
    }

    &.bgm-lightgreen {
        background-color: rgb(139, 195, 74);
    }

    &.bgm-purple {
        background-color: rgb(186, 104, 200);
    }

    &.bgm-orange {
        background-color: rgb(255, 152, 0);
    }

    &.bgm-bluegray {
        background-color: rgb(96, 125, 139);
    }
}

md-table-container {
  max-height: 50vh;
}
/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
