<md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="More">
            <md-tooltip md-direction="bottom">Add node</md-tooltip>
            <ng-md-icon icon="add" size="25" class="menu-icon" ng-click="treeCt.add()"></ng-md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="More">
            <md-tooltip md-direction="bottom">Edit name</md-tooltip>
            <ng-md-icon icon="edit" size="25" ng-click="treeCt.edit()" class="menu-icon"></ng-md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="More">
            <md-tooltip md-direction="bottom">Delete</md-tooltip>
            <ng-md-icon icon="delete" size="25" ng-click="treeCt.deleteCatalog()" class="menu-icon"></ng-md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="More">
            <md-tooltip md-direction="bottom">Duplicate</md-tooltip>
            <ng-md-icon icon="content_copy" size="25" ng-click="treeCt.duplicate()" class="menu-icon"></ng-md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="More">
            <md-tooltip md-direction="bottom">Refresh</md-tooltip>
            <ng-md-icon icon="refresh" size="25" ng-click="treeCt.loadCatalogs()" class="menu-icon"></ng-md-icon>
        </md-button>
    </div>
</md-toolbar>
<md-toolbar class="md-hue-2" ng-if="treeCt.editName">
    <div class="md-toolbar-tools" >
        <input type="text" style="width: 90%;color: #333" ng-model="treeCt.name" ng-change="treeCt.change()"/>
        <md-button flex ng-click="treeCt.save()">OK</md-button>
    </div>
</md-toolbar>
<md-list flex>
    <div class="treeJs" flex js-tree="treeCt.treeConfig" ng-model="treeCt.catalogs" tree="treeInstance" tree-events-obj="treeEventsObj"></div>
</md-list>
