<script type="text/ng-template"  id="tree_item_renderer.html">
    {{data.text}}
    <ul>
        <li ng-repeat="data in data.nodes" ng-include="'tree_item_renderer.html'"></li>
    </ul>
</script>

<ul>
    <li ng-repeat="data in mainCt.tree" ng-include="'tree_item_renderer.html'"></li>
</ul>
